.detalle-producto,
.cantidad-seleccionada {
  display: flex;
  flex: 1 1 100%;
}
.detalle-producto {
  justify-content: center;
}

.detalle-producto .imagen {
  height: 600px !important;
}

.detalle-producto .imagen img {
  height: 100%;
}

.detalle-producto .detalle {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  padding: 50px;
}

.producto-disponible {
  color: green;
}

.disponibilidad {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.boton-agregar-carrito {
  margin-top: 30px;
}
